REDIS_REPLICATION_MODE=master
REDIS_ADDR=redis:6379
REDIS_PASSWORD=redis

POSTGRES_HOST=postgres
POSTGRES_USER=wayfinder
POSTGRES_PASSWORD=wayfinder
POSTGRES_DATABASE=wayfinder
POSTGRES_PORT=5432
POSTGRES_FORCESSL=false

GF_DASHBOARDS_JSON_ENABLED=true
GF_SECURITY_ADMIN_PASSWORD=secret
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_SECRET_KEY=1234

# INFLUXDB_DB=wayfinder
# INFLUXDB_HTTP_AUTH_ENABLED=true
# INFLUXDB_ADMIN_USER=wayfinder
# INFLUXDB_ADMIN_PASSWORD=wayfinder

# INPUT_PORT: 12345
# OUTPUT_HOST: influxdb
# OUTPUT_PORT: 8086
# OUTPUT_USER: admin
# OUTPUT_PASS: secret


MINIO_ROOT_USER=wayfinder
MINIO_ROOT_PASSWORD=wayfinder
