dist/
client/go/
api/proto/
api/client/

# general things to ignore
*.egg-info
*.egg[s]
__pycache__/
client/python/build/
client/python/dist/
client/python/vendor/
client/python/pywfsdk/proto/
client/python/*.py[cod]

# due to using tox and pytest
client/python/.tox
client/python/.cache
