CONFIG_ACPI_WATCHDOG
CONFIG_ALLOW_DEV_COREDUMP
CONFIG_CHARGER_MANAGER
CONFIG_DEV_COREDUMP
CONFIG_GENERIC_IRQ_CHIP
CONFIG_ISA_BUS_API
CONFIG_LEDS_CLASS
CONFIG_LEDS_TRIGGER_CPU
CONFIG_LEDS_TRIGGER_DISK
CONFIG_LEDS_TRIGGER_MTD
CONFIG_LEDS_TRIGGER_PANIC
CONFIG_LEDS_TRIGGERS
CONFIG_NETPOLL
CONFIG_NEW_LEDS
CONFIG_PM_GENERIC_DOMAINS
CONFIG_PM_SLEEP
CONFIG_PM_SLEEP_DEBUG
CONFIG_PM_SLEEP_SMP
CONFIG_RFKILL_LEDS
CONFIG_SCSI_NETLINK
CONFIG_SECURITY_NETWORK_XFRM
CONFIG_WEXT_CORE
CONFIG_WEXT_PROC
CONFIG_WIRELESS
CONFIG_X86_32
CONFIG_XFRM
CONFIG_XFRM_OFFLOAD
CONFIG_XFRM_STATISTICS
